.not-found {
  text-align: center;
  background-color: #000000;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.not-found-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.not-found p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.not-found a {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2rem;
}

.not-found a:hover {
  text-decoration: underline;
}

